In [1]:
import pandas as pd

Creating python dictionary

In [11]:
students={
    "Name":["Moksha","Mr. Vishesh","Aaron","Adwait"],
    "Grades":[100,105,15,98],
    "City":["Brampton","Mumbai","Hamilton","Kashmir"]
}

converting python dictionary into dataframe

In [12]:
df=pd.DataFrame(students)

getting head of dataframe

In [7]:
df.head()

          Name  Grades      City
0       Moksha     100  Brampton
1  Mr. Vishesh     105    Mumbai
2        Aaron      15  Hamilton
3       Adwait      98   Kashmir

converting to csv file

In [8]:
df.to_csv("students.csv")

reading csv file

In [9]:
df_csv=pd.read_csv("students.csv")

getting head of csv file

In [13]:
df_csv.head()

   Unnamed: 0         Name  Grades      City
0           0       Moksha     100  Brampton
1           1  Mr. Vishesh     105    Mumbai
2           2        Aaron      15  Hamilton
3           3       Adwait      98   Kashmir